<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dag</key>
	<dict>
		<key>lang1Locale</key>
		<string>en</string>
		<key>lang2Locale</key>
		<string>du</string>
		<key>lang2</key>
		<array>
			<string>words </string>
			<string>words </string>
			<string>words </string>
			<string>words </string>
			<string>words </string>
		</array>
		<key>lang1</key>
		<array>
			<string>woords</string>
			<string>woords</string>
			<string>woords</string>
			<string>woords</string>
			<string>woords</string>
		</array>
	</dict>
	<key>swag</key>
	<dict>
		<key>lang1Locale</key>
		<string>en</string>
		<key>lang2Locale</key>
		<string>du</string>
		<key>lang2</key>
		<array>
			<string>words </string>
			<string>words </string>
			<string>words </string>
			<string>words </string>
			<string>words </string>
		</array>
		<key>lang1</key>
		<array>
			<string>woords</string>
			<string>woords</string>
			<string>woords</string>
			<string>woords</string>
			<string>woords</string>
		</array>
	</dict>
	<key>listName</key>
	<dict>
		<key>lang1Locale</key>
		<string>en</string>
		<key>lang2Locale</key>
		<string>du</string>
		<key>lang2</key>
		<array>
			<string>words </string>
			<string>words </string>
			<string>words </string>
			<string>words </string>
			<string>words </string>
		</array>
		<key>lang1</key>
		<array>
			<string>woords</string>
			<string>woords</string>
			<string>woords</string>
			<string>woords</string>
			<string>woords</string>
		</array>
	</dict>
</dict>
</plist>
