<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listName</key>
	<dict>
		<key>word1</key>
		<string>Trans1</string>
		<key>word2</key>
		<string>Trans2</string>
	</dict>
	<key>listNa</key>
	<dict>
		<key>word1</key>
		<string>Trans1</string>
		<key>word2</key>
		<string>Trans2</string>
	</dict>
	<key>other list</key>
	<dict>
		<key>word1</key>
		<string>Trans1</string>
		<key>word2</key>
		<string>Trans2</string>
	</dict>
	<key>list1</key>
	<dict>
		<key>word1</key>
		<string>Trans1</string>
		<key>word2</key>
		<string>Trans2</string>
	</dict>
	<key>listName1</key>
	<dict>
		<key>word1</key>
		<string>Trans1</string>
		<key>word2</key>
		<string>Trans2</string>
	</dict>
	<key>listName2</key>
	<dict>
		<key>word1</key>
		<string>Trans1</string>
		<key>word2</key>
		<string>Trans2</string>
	</dict>
</dict>
</plist>
